name: pull_workflow
on:
  pull_request_target:
    types: [synchronize,opened,closed]

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  welcome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/github-script@v7
        with:
          script: |
            const script = require('./\.github/workflows/scripts/pull_workflow.js')
            script({github, context})